In [1]:
import pandas as pd

import os
import glob

In [2]:
all_files = glob.glob(os.path.join('subway_on_off/CARD_*'))
all_files.sort()

In [3]:
all_data_frames = []
for file in all_files:
    print(file)
    try:
        data_frame = pd.read_csv(file, index_col=False)
    except UnicodeDecodeError:
        data_frame = pd.read_csv(file, encoding='cp949', index_col=False)
    
    data_frame = data_frame.rename(columns={'노선명':'호선명'})
    all_data_frames.append(data_frame)

data_frame_concat = pd.concat(all_data_frames, axis=0, ignore_index=True)

subway_on_off/CARD_SUBWAY_MONTH_201812.csv
subway_on_off/CARD_SUBWAY_MONTH_201901.csv
subway_on_off/CARD_SUBWAY_MONTH_201902.csv
subway_on_off/CARD_SUBWAY_MONTH_201903.csv
subway_on_off/CARD_SUBWAY_MONTH_201904.csv
subway_on_off/CARD_SUBWAY_MONTH_201905.csv
subway_on_off/CARD_SUBWAY_MONTH_201906.csv
subway_on_off/CARD_SUBWAY_MONTH_201907.csv
subway_on_off/CARD_SUBWAY_MONTH_201908.csv
subway_on_off/CARD_SUBWAY_MONTH_201909.csv
subway_on_off/CARD_SUBWAY_MONTH_201910.csv
subway_on_off/CARD_SUBWAY_MONTH_201911.csv
subway_on_off/CARD_SUBWAY_MONTH_201912.csv
subway_on_off/CARD_SUBWAY_MONTH_202001.csv

In [4]:
df_address = pd.read_excel('subway_address/4647,4661번 서울교통공사 역별 주소 현황 및 전화번호.xlsx', header=1, index_col=0)

In [5]:
all_df = pd.merge(data_frame_concat, df_address).rename(columns={'Unnamed: 6' : '전화번호'})

In [6]:
address_list = []
for i in all_df['상세주소']:
    if i == "서울특별시 영등포구 문래동3가 68-1문래역":
        i = "서울특별시 영등포구 문래동3가 68-1 문래역"
    list_ = i.split(' ')
    for k in list_:
        check_k = k.replace('-','')
        if check_k.isdigit():
            address_list.append(' '.join(list_[:list_.index(k)+1]))

all_df['상세주소'] = address_list

In [7]:
# df_201812 = pd.read_csv('subway_on_off/CARD_SUBWAY_MONTH_201812.csv')
# df_201901 = pd.read_csv('subway_on_off/CARD_SUBWAY_MONTH_201901.csv')
# df_201902 = pd.read_csv('subway_on_off/CARD_SUBWAY_MONTH_201902.csv')
# df_201903 = pd.read_csv('subway_on_off/CARD_SUBWAY_MONTH_201903.csv')
# df_201904 = pd.read_csv('subway_on_off/CARD_SUBWAY_MONTH_201904.csv')
# df_201905 = pd.read_csv('subway_on_off/CARD_SUBWAY_MONTH_201905.csv')
# df_201906 = pd.read_csv('subway_on_off/CARD_SUBWAY_MONTH_201906.csv')
# df_201907 = pd.read_csv('subway_on_off/CARD_SUBWAY_MONTH_201907.csv')
# df_201908 = pd.read_csv('subway_on_off/CARD_SUBWAY_MONTH_201908.csv')
# df_201909 = pd.read_csv('subway_on_off/CARD_SUBWAY_MONTH_201909.csv')
# df_201910 = pd.read_csv('subway_on_off/CARD_SUBWAY_MONTH_201910.csv')

# df_201911 = pd.read_csv('subway_on_off/CARD_SUBWAY_MONTH_201911.csv', encoding='cp949')
# df_201912 = pd.read_csv('subway_on_off/CARD_SUBWAY_MONTH_201912.csv', encoding='cp949')
# df_202001 = pd.read_csv('subway_on_off/CARD_SUBWAY_MONTH_202001.csv', encoding='cp949', index_col=False)

# df_address = pd.read_excel('subway_address/4647,4661번 서울교통공사 역별 주소 현황 및 전화번호.xlsx', header=1, index_col=0)

In [8]:
# df_on_off = pd.concat([df_201812, df_201901, df_201912, df_202001]).reset_index(drop=True)
# all_df = pd.merge(df_on_off, df_address).rename(columns={'Unnamed: 6' : '전화번호'})

In [9]:
all_df.head()

,사용일자,호선명,역ID,역명,승차총승객수,하차총승객수,등록일자,호선,구,동,상세주소,전화번호
0,20181201,경의선,1266,디지털미디어시티,2023.0,1883.0,20181204,6,은평구,수색동,서울특별시 은평구 수색동 37-36,6311-6180
1,20181201,6호선,2619,디지털미디어시티,9556.0,9932.0,20181204,6,은평구,수색동,서울특별시 은평구 수색동 37-36,6311-6180
2,20181201,공항철도 1호선,4204,디지털미디어시티,10147.0,8775.0,20181204,6,은평구,수색동,서울특별시 은평구 수색동 37-36,6311-6180
3,20181202,경의선,1266,디지털미디어시티,1326.0,1307.0,20181205,6,은평구,수색동,서울특별시 은평구 수색동 37-36,6311-6180
4,20181202,공항철도 1호선,4204,디지털미디어시티,4719.0,4588.0,20181205,6,은평구,수색동,서울특별시 은평구 수색동 37-36,6311-6180

In [10]:
address_df = pd.DataFrame(all_df['상세주소'].unique()).rename(columns={0:'상세주소'})
address_df.to_csv('address.csv', index=False, encoding='cp949')

In [11]:
all_df.to_csv('all_df.csv', index=False, encoding='cp949')