In [1]:
import pandas as pd

In [2]:
df_201912 = pd.read_csv('subway_on_off/CARD_SUBWAY_MONTH_201912.csv', encoding='cp949')
df_202001 = pd.read_csv('subway_on_off/CARD_SUBWAY_MONTH_202001.csv', encoding='cp949', index_col=False)

df_address = pd.read_excel('subway_address/4647,4661번 서울교통공사 역별 주소 현황 및 전화번호.xlsx', header=1, index_col=0)

In [3]:
df_on_off = pd.concat([df_201912, df_202001]).reset_index(drop=True)
all_df = pd.merge(df_on_off, df_address).rename(columns={'Unnamed: 6' : '전화번호'})

In [4]:
address_list = []
for i in all_df['상세주소']:
    if i == "서울특별시 영등포구 문래동3가 68-1문래역":
        i = "서울특별시 영등포구 문래동3가 68-1 문래역"
    list_ = i.split(' ')
    for k in list_:
        check_k = k.replace('-','')
        if check_k.isdigit():
            address_list.append(' '.join(list_[:list_.index(k)+1]))

all_df['상세주소'] = address_list

In [5]:
all_df.shape

(23979, 12)

In [6]:
all_df.head()

,사용일자,노선명,역ID,역명,승차총승객수,하차총승객수,등록일자,호선,구,동,상세주소,전화번호
0,20191201,1호선,152,종각,19093.0,17141.0,20191204,1,종로구,종로1가,서울특별시 종로구 종로1가 54,6110-1311
1,20191202,1호선,152,종각,48153.0,46770.0,20191205,1,종로구,종로1가,서울특별시 종로구 종로1가 54,6110-1311
2,20191203,1호선,152,종각,49696.0,47715.0,20191206,1,종로구,종로1가,서울특별시 종로구 종로1가 54,6110-1311
3,20191204,1호선,152,종각,49877.0,48664.0,20191207,1,종로구,종로1가,서울특별시 종로구 종로1가 54,6110-1311
4,20191205,1호선,152,종각,51426.0,49816.0,20191208,1,종로구,종로1가,서울특별시 종로구 종로1가 54,6110-1311

In [7]:
all_df.tail()

,사용일자,노선명,역ID,역명,승차총승객수,하차총승객수,등록일자,호선,구,동,상세주소,전화번호
23974,20200127,8호선,2826,수진,3207.0,3125.0,20200130,8,성남시,수정구 수진동,경기도 성남시 수정구 수진동 2205-1,6311-8250
23975,20200128,8호선,2826,수진,5593.0,5180.0,20200131,8,성남시,수정구 수진동,경기도 성남시 수정구 수진동 2205-1,6311-8250
23976,20200129,8호선,2826,수진,6425.0,5988.0,20200201,8,성남시,수정구 수진동,경기도 성남시 수정구 수진동 2205-1,6311-8250
23977,20200130,8호선,2826,수진,5825.0,5354.0,20200202,8,성남시,수정구 수진동,경기도 성남시 수정구 수진동 2205-1,6311-8250
23978,20200131,8호선,2826,수진,6199.0,5660.0,20200203,8,성남시,수정구 수진동,경기도 성남시 수정구 수진동 2205-1,6311-8250

In [8]:
address_df = pd.DataFrame(all_df['상세주소'].unique()).rename(columns={0:'상세주소'})
address_df.to_csv('address.csv', index=False, encoding='cp949')

In [9]:
all_df.to_csv('all_df.csv', index=False, encoding='cp949')