In [1]:
import pandas as pd

In [2]:
df_201812 = pd.read_csv('subway_on_off/CARD_SUBWAY_MONTH_201812.csv')
df_201901 = pd.read_csv('subway_on_off/CARD_SUBWAY_MONTH_201901.csv')

df_201912 = pd.read_csv('subway_on_off/CARD_SUBWAY_MONTH_201912.csv', encoding='cp949')
df_202001 = pd.read_csv('subway_on_off/CARD_SUBWAY_MONTH_202001.csv', encoding='cp949', index_col=False)

df_address = pd.read_excel('subway_address/4647,4661번 서울교통공사 역별 주소 현황 및 전화번호.xlsx', header=1, index_col=0)

In [3]:
df_on_off = pd.concat([df_201812, df_201901, df_201912, df_202001]).reset_index(drop=True)
all_df = pd.merge(df_on_off, df_address).rename(columns={'Unnamed: 6' : '전화번호'})

In [4]:
all_df.head()

,사용일자,노선명,역ID,역명,승차총승객수,하차총승객수,등록일자,호선,구,동,상세주소,전화번호
0,20181201,경의선,1266,디지털미디어시티,2023.0,1883.0,20181204,6,은평구,수색동,서울특별시 은평구 수색동 37-36 디지털미디어시티역,6311-6180
1,20181201,6호선,2619,디지털미디어시티,9556.0,9932.0,20181204,6,은평구,수색동,서울특별시 은평구 수색동 37-36 디지털미디어시티역,6311-6180
2,20181201,공항철도 1호선,4204,디지털미디어시티,10147.0,8775.0,20181204,6,은평구,수색동,서울특별시 은평구 수색동 37-36 디지털미디어시티역,6311-6180
3,20181202,경의선,1266,디지털미디어시티,1326.0,1307.0,20181205,6,은평구,수색동,서울특별시 은평구 수색동 37-36 디지털미디어시티역,6311-6180
4,20181202,공항철도 1호선,4204,디지털미디어시티,4719.0,4588.0,20181205,6,은평구,수색동,서울특별시 은평구 수색동 37-36 디지털미디어시티역,6311-6180

In [5]:
address_list = []
for i in all_df['상세주소']:
    if i == "서울특별시 영등포구 문래동3가 68-1문래역":
        i = "서울특별시 영등포구 문래동3가 68-1 문래역"
    list_ = i.split(' ')
    for k in list_:
        check_k = k.replace('-','')
        if check_k.isdigit():
            address_list.append(' '.join(list_[:list_.index(k)+1]))

all_df['상세주소'] = address_list

In [6]:
all_df.shape

(47991, 12)

In [7]:
all_df.head()

,사용일자,노선명,역ID,역명,승차총승객수,하차총승객수,등록일자,호선,구,동,상세주소,전화번호
0,20181201,경의선,1266,디지털미디어시티,2023.0,1883.0,20181204,6,은평구,수색동,서울특별시 은평구 수색동 37-36,6311-6180
1,20181201,6호선,2619,디지털미디어시티,9556.0,9932.0,20181204,6,은평구,수색동,서울특별시 은평구 수색동 37-36,6311-6180
2,20181201,공항철도 1호선,4204,디지털미디어시티,10147.0,8775.0,20181204,6,은평구,수색동,서울특별시 은평구 수색동 37-36,6311-6180
3,20181202,경의선,1266,디지털미디어시티,1326.0,1307.0,20181205,6,은평구,수색동,서울특별시 은평구 수색동 37-36,6311-6180
4,20181202,공항철도 1호선,4204,디지털미디어시티,4719.0,4588.0,20181205,6,은평구,수색동,서울특별시 은평구 수색동 37-36,6311-6180

In [8]:
all_df.tail()

,사용일자,노선명,역ID,역명,승차총승객수,하차총승객수,등록일자,호선,구,동,상세주소,전화번호
47986,20200127,1호선,152,종각,17928.0,15687.0,20200130,1,종로구,종로1가,서울특별시 종로구 종로1가 54,6110-1311
47987,20200128,1호선,152,종각,42924.0,42121.0,20200131,1,종로구,종로1가,서울특별시 종로구 종로1가 54,6110-1311
47988,20200129,1호선,152,종각,46825.0,45634.0,20200201,1,종로구,종로1가,서울특별시 종로구 종로1가 54,6110-1311
47989,20200130,1호선,152,종각,46979.0,45632.0,20200202,1,종로구,종로1가,서울특별시 종로구 종로1가 54,6110-1311
47990,20200131,1호선,152,종각,47725.0,47091.0,20200203,1,종로구,종로1가,서울특별시 종로구 종로1가 54,6110-1311

In [9]:
address_df = pd.DataFrame(all_df['상세주소'].unique()).rename(columns={0:'상세주소'})
address_df.to_csv('address.csv', index=False, encoding='cp949')

In [10]:
all_df.to_csv('all_df.csv', index=False, encoding='cp949')