In [1]:
import pandas as pd

In [2]:
df_1 = pd.read_csv('디지털성범죄.csv')
df_1['title'] = "디지털성범죄"
df_2 = pd.read_csv('미세먼지.csv')
df_2['title'] = "미세먼지"
df_3 = pd.read_csv('아프리카돼지열병.csv')
df_3['title'] = "아프리카돼지열병"
df_4 = pd.read_csv('일회용플라스틱.csv')
df_4['title'] = "일회용플라스틱"
df_5 = pd.read_csv('최저임금.csv')
df_5['title'] = "최저임금"

In [3]:
all_df = pd.concat([df_1[:20],df_2[:20],df_3[:20],df_4[:20],df_5[:20]])

In [4]:
all_df.head()

  keyword  count   title
0      범죄   1944  디지털성범죄
1      불법   1810  디지털성범죄
2     피해자   1408  디지털성범죄
3     디지털   1310  디지털성범죄
4    디지털성   1234  디지털성범죄

In [5]:
all_df.to_csv('all_data.csv', index=False)